<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <select [(ngModel)]="selectedStudent" (change)="onSelected(selectedStudent)">
    <option *ngFor="let student of students" >{{student.name}}</option>
  </select>
    <p *ngIf="selectedStudent">Selected Student : {{currentStudent|json}}</p>
    <div class="student">
        <div class="studentImage"> <img [src]="contact.image" alt="" class="studentImage"></div>

        <div class="studentData" *ngIf="selectedStudent;else defaultStudent">
            <div class="name"><label>Name</label>
                <!-- <p>{{currentStudent.name}}</p> -->
            </div>
            <div> <label>Teudat Zeut</label>
                <!-- <p>{{currentStudent.teudatZeut}}</p> -->
            </div>
            <div> <label>Birthday </label>
                <!-- <p>{{currentStudent.birthday|date:'dd/MM/yyy'}}</p> -->
            </div>
            <div><label>Class</label>
                <!-- <p>{{currentStudent.class}}</p> -->
            </div>
        </div>

        <ng-template #defaultStudent>
            <div *ngFor="let student of students|slice:0:1 ;let first = first" class="studentData">

                <div class="name"><label>Name</label>
                    <!-- <p>{{student.name}}</p> -->
                </div>
                <div> <label>Teudat Zeut</label>
                    <!-- <p>{{student.teudatZeut}}</p> -->
                </div>
                <div> <label>Birthday </label>
                    <!-- <p>{{student.birthday}}</p> -->
                </div>
                <div><label>Class</label>
                    <!-- <p>{{student.class}}</p> -->
                </div>

            </div>
        </ng-template>
    </div>
    <!-- <p>{{currentStudent.birthday}}</p> -->
    <div class="prevNextBtns">
        <button class="prev" (click)="onPrevious(currentStudent)">Prev</button>
        <button class="next" (click)="onNext(currentStudent)">Next</button>
    </div>

</div>